
img{
	width:100%;height:auto;
}
.loginAndRegister{
	width:100%;height:30px;
}
.login,.register{
	color:#0000CC;
	float:right;
	margin-top:5px;
	font-weight:bold;
}
.register{
	margin-right:50px;
}
.login{
	margin-right:20px;
}
.searchFlight{
	width:1200px;height:300px;
	margin:auto;
	background-color: rgba(35,43,55,.6)
}
.from_city,.to_city{
	width:300px;
	height:50px;
	margin-top:70px;
	font-size:20px;
	font-weight:bold;
}
.from_city{
	margin-left:250px;
}
.to_city{
	margin-left:100px;
}
.start_date{
	width:304px;
	height:50px;
	margin-left:250px;
	border:none;
	margin-top:50px;
}
.cang{
	width:304px;height:50px;
	margin-left:100px;
	margin-top:50px;
}
.submit{
	width:500px;
	height:50px;
	background:red;
	border:none;
	margin-top:50px;
	margin-left:350px;
	font-size:30px;
}
.bottom{
	width:100%;height:50px;
	background:#6699CC;
	opacity:0.7;
	text-align:center;
	margin-top:100px;
}
