.error{
	color:red;
	display:block;
	margin-left:200px;
}
.a{
	width:30%;
	height:30%;
}
.l1,.l2{
	display:block;
	margin-left:5%;
	margin-top:5%;
	font-weight:bold;
}
.l1{
	margin-top:60%;
}
.c_number,.c_password{
	width:75%;height:13%;
	margin-left:5%;
	font-size:20px;
	border-radius:5px;
}
.yes,.no{
	width:13%;height:20%;
	font-size:100%;
	margin-top:50px;
	border-radius:10%;
}
.yes{
	margin-left:20%;
}
.no{
	margin-left:20%;
}
.yes:hover{
	background:orange;
}
.no:hover{
	background:#FF3333;
}