.form{
	width:800px;height:600px;
	position:absolute;
	left:10px;right:0;top:30px;bottom:0;
}
.yes,.no{
	width:100px;height:40px;
	font-size:18px;
	background:#66FFFF;
	margin-top:50px;
}
.yes{
	margin-left:100px;
}
.yes:hover{
	background:orange;
}
.no:hover{
	background:#FF3333;
}

.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9{
	display:inline-block;
	font-size:30px;
	font-weight:bold;
	margin-top:20px;
}
.number-a,.name,.password,.repassword,.age,.card,.phone{
	width:300px;height:30px;
	vertical-align:bottom;
	font-size:25px;
	border-radius:5px;
}
.sex1,.sex2{
	width:30px;height:30px;
	vertical-align:bottom;
}
.error{
	color:red;
	
}